<h1>Personal Dashboard For <%= current_user.name %></h1>
<div>Welcome to your personal dashboard! Here you can ask a new question, see responses from Guides, search for new guides and more!</div>
<div class="row-fluid">
  <div class="span4 well well-small">
    <h2>Your Topics</h2>
    <ul id="dashboardMyTopics">
        <% @my_topics.each do |myTopic| %>
          <li><%= link_to myTopic.topic, myTopic %></li>
        <% end %>
    </ul>
  </div>
  <div class="span4 well well-small">
    <h2>Your Topics</h2>
    <ul id="dashboardMyTopics">
      <% @my_topics.each do |myTopic| %>
          <li><%= myTopic.topic %></li>
      <% end %>
    </ul>
  </div>
  <div class="span4 well well-small">
    <h2>Your Topics</h2>
    <ul id="dashboardMyTopics">
      <% @my_topics.each do |myTopic| %>
          <li><%= myTopic.topic %></li>
      <% end %>
    </ul>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    <div class="user-search-form">
      <h3>Search for Users</h3>
      <%= form_tag '', :method => :get do %>
          <p>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Search Near", :name => nil %>
          </p>
      <% end %>
      <% if params[:search].present? %>
      <h3>Nearby guides</h3>
      <ul class="guideSearchResults">
        <% if @user_search.count() > 0 %>
            <% for guides in @user_search %>
                <li><%= link_to guides.address, guides %> (<%= guides.distance.round(2) %> miles)</li>
            <% end %>
        <% else %>
            <li class="noneFound">Sorry <%= @user_search.count() %> guides could be found at this time.</li>
        <% end %>
      </ul>
      <% end %>
    </div>
  </div>
</div>