<div class="page-header">
    <h1><%= @topic.topic %></h1>
</div>
<div class="topicDetail">
    <%= @topic.detail %>
</div>
<div class="topicMetaData">
  <div class="topicPoster">Posted by: <%= @topic.user.name %></div>
</div>
<div id="topicKeywordList">
  <%= @topic.keyword_list %>
</div>
<div class="topicConversation">
    <%= render :partial => 'comments/comment', :collection => @comments, :as => :comment %>
</div>
<div class="topicConversationForm">
    <%= render :partial => 'comments/form', :locals => { :comment => @new_comment } %>
</div>